# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - studentperformancetest

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: testdockervearo.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C588F65C67AC4A50AEC38ABC2AEB1F62 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_D4B79D42C34B40FEB91D8B42B2962521 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: testdockervearo.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C588F65C67AC4A50AEC38ABC2AEB1F62 }}/studentperformance:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3C6656DB7CF24C0BA4F8686FE7E5D84D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_398EB4A28280470FB788C8CE11B16AB2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DAE423187B5F449BACA6CA8D8CEF0F22 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'studentperformancetest'
          slot-name: 'Production'
          images: 'testdockervearo.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_C588F65C67AC4A50AEC38ABC2AEB1F62 }}/studentperformance:${{ github.sha }}'
          